.main {
  width: 100%;
  background-color: var(--color-10);
}

@media (min-width: 34.375em) {
  .main {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 48em) {
  .main {
    width: 70%;
  }
}
